@import "default.css";

#year_form {
    display: inline-block;
    margin-top: 1em;
    padding: 1em;
}

#year_form .delete_link {
    display: inline-block;
    float: left;
    padding: 5px 20px;
    width: 9em;
}

#year_form_command {
    margin-top: 1em;
    text-align: right;
}