/**
 * 表單主體
 */
.input_form {
    background-color: #F1F1F1;
    padding: 1em;
    border: 1px solid #E5E5E5;
    width: 30em;
}

.input_form .form_table {
    border-collapse: separate;
    border-spacing: 5px 7px;
}

.input_form .form_table caption {
    margin-bottom: 0.5em;
    font-size: 120%;
}

.input_form .form_table td {
    padding: 2px;
}

.input_form .label {
    width: 4em;
    font-weight: bold;
    padding: 10px 0;
    color: #222222;
    font-size: 90%;
}

.input_form .input_field input {
    padding: 5px;
}

.input_form .input_field input:focus {
    background-color: #FFFF99;
}

.input_form .input_error {
    font-size: 80%;
    color: red;
    padding-left: 0.8em !important;
}

.input_form .submit {
    padding-top: 0.5em;
    text-align: right;
}

input[type="submit"] {
    background-color: #F09609;
    color: #FFFFFF;
    padding: 5px 20px;
    border: 0;
    cursor: pointer;
}
