/**
 * 年級選單樣式
 */
#year_row {
    padding: 5px;
    width: 90%;
}

.year_item {
    display: inline-block;
    margin: 3px;
    padding: 8px;
    width: 7em;
    background-color: #008A00;
    text-align: center;
}

.year_item_selected {
    border: 3px solid #F0A30A;
}

/**
 * 班級選單樣式
 */
#class_area {
    position: absolute;
    display: inline-block;
    margin-top: 2em;
}

#class_area .classes_name {
    padding: 5px 1em;
    width: 7em;
}

#class_area .classes_name input[type="text"] {
    width: 6em;
}

#class_area .classes_command {
    padding: 0;
    width: 12em;
}

#class_area .classes_command .delete_link {
    display: inline-block;
}
