/**
 * 年級選單樣式
 */
#year_row {
    padding: 5px;
    width: 90%;
}

.year_item {
    display: inline-block;
    margin: 3px;
    padding: 8px;
    width: 5em;
    background-color: #008A00;
    text-align: center;
}

.year_item_selected {
    border: 2px solid #FFFFFF;
}

#class_area {
}

#class_area .classes_name {
    padding-left: 2em;
}

#class_area .classes_name input {
    padding: 4px;
}
