.data_table td, .data_table th {
	padding: 5px 3em 5px 5px;
}

.data_table .edit, .data_table .delete {
	padding: 5px;
}

.data_table .command {
	padding-right: 10px;
	text-align: right;
}
