@import url(default.css);

.table_style_1 th {
    border-bottom: 1px solid #FFFFFF;
    background-color: #00ABA9;
    color: #FFFFFF;
}

.table_style_1 td {
    border-bottom: 1px solid #FFFFFF;
    background-color: #E8EDFF;
}
