/**
 * 新增教師按鈕樣式
 */
.add {
	padding: 5px !important;
	text-align: right;
}

.add .add_link {
	margin-bottom: 0;
}

/**
 * 新增職稱
 */
#title_form_command {
	padding: 0.5em 0 0.5em 0;
}

#title_form_command * {
	display: inline-block;
}