.progress_history {
	display: inline-block;
	padding: 5px;
	vertical-align: top;
	font-size: 110%;
}

.progress_history li {
	padding: 3px;
	width: 6em;
}

.progress_history .title {
	background-color: #008A00;
	color: #FFFFFF;
}

.progress_history .item {
	padding-left: 10px;
}

.progress_history strong {
	color: red;
	font-style: italic;
}
