.data_table td, .data_table th {
	padding: 5px;
}

.teacher_name {
	width: 4em;
}

.minus {
	color: red;
}

.plus {
	color: green;
}

.zero {
	color: #000000;
}

#teacher_list {
	float: left;
	margin-top: 0.5em;
	width: 20em;
}

#course_unit_form {
	margin-top: 0.5em;
	margin-right: 0;
	margin-left: 21em;
}

a[data-selected="1"] {
	border: 2px solid #DD4B39;
}

a[data-selected="0"] {
	border: 2px solid #E8EDFF;
}

#course_time_selector {
	display: none;
	float: right;
	font-size: 70%;
}

#course_unit_list {
	margin-top: 1em;
	width: 35em;
	font-size: 90%;
}

#course_unit_list .count, #course_unit_list .classroom_name, #course_unit_list .combination, #course_unit_list .repeat, #course_unit_list .limit_course_time {
	text-align: center;
}

#course_unit_list .form_row {
	display: none;
}
