.data_table td, .data_table th {
	padding: 5px;
}

.teacher_name {
	width: 4em;
}

.minus {
	color: red;
}

.plus {
	color: green;
}

.zero {
	color: #000000;
}

#teacher_list {
	float: left;
	margin-top: 0.5em;
	width: 20em;
}

#course_unit_form {
	margin-top: 0.5em;
	margin-right: 0;
	margin-left: 21em;
}

a[data-selected="1"] {
	border: 2px solid #DD4B39;
}

a[data-selected="0"] {
	border: 2px solid #E8EDFF;
}

#year_course_time_selector {
	float: right;
}