.data_table td, .data_table th {
	padding: 5px;
}

.teacher_name {
	width: 4em;
}

.minus {
	color: red;
}

.plus {
	color: blue;
}

.zero {
	color: green;
}

#teacher_list {
	float: left;
	margin-top: 0.5em;
}

#course_unit_form {
	float: left;
	margin-top: 0.5em;
	margin-left: 1em;
}

#course_unit_form form {
	padding: 2px;
}

.command .edit_link:hover, .edit_selected .edit_link {
	background-color: #C4327B;
	text-shadow: 1px 1px #333333;
}

#course_unit_form  #course_time_selector {
	display: inline-block;
	margin: 8px 0 0 10px;
	vertical-align: top;
	font-size: 90%;
}

#course_unit_form  #course_unit_list {
	display: inline-block;
	margin-top: 8px;
	vertical-align: top;
	font-size: 90%;
}

#course_unit_list .count, #course_unit_list .classroom_name, #course_unit_list .combination, #course_unit_list .repeat, #course_unit_list .limit_course_time {
	text-align: center;
}

.edit_selected td, .edit_selected {
	background-color: #A5DAFF;
	font-weight: bold;
}

.row_item li a {
	min-width: 10em;
}

#teacher_list .teacher_course_count {
	width: 6em;
}

#teacher_list .teacher_name {
	width: 5em;
}

#teacher_list .teacher_name a {
	color: blue;
}

#teacher_list .classes {
	width: 5em;
}

/**
 * 	排序表格樣式
 */
.sortable th:not(.sorttable_nosort) {
	cursor: pointer;
}

.sortable th:not(.sorttable_nosort):hover {
	background-color: #7b7b7b;
}

.sortable tr th.sorttable_sorted {
	background-color: #7b7b7b;
}