.label {
    width: 4em;
    font-weight: bold;
    padding: 10px 0;
}

.input_field input {
    padding: 5px;
}

.submit {
    padding-top: 0.5em;
}

.submit input {
    background-color: #F09609;
    color: #FFFFFF;
    padding: 5px 20px;
    border: 0;
}
