body {
    font-family: "微軟正黑體", sans-serif, serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.add_a {
    background-color: #A2C139;
    padding: 10px;
}

.delete_a {
    background-color: #D80073;
    padding: 10px;
}

#message_block {
    color: #D80073;
    padding: 10px 0px;
    font-size: 120%;
}

#wrapper {
    padding: 0em;
}

header {
    background-color: #1BA1E2;
}

#banner {
    font-size: 180%;
    padding: 0.5em;
    color: #FFFFFF;
}

#login {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #E671B8;
    width: 4em;
    text-align: left;
}

#login a {
    display: block;
    padding: 0.5em;
}

nav {
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #F3F3F3;
    color: #666666;
}

nav ul {
    padding: 1em 0 0 1em;
}

nav .nav_title {
    font-size: 130%;
}

nav a {
    display: block;
    padding: 0.7em 0 0.7em 1em;
    color: #666666;
}

nav a:hover {
    background-color: #dddddd;
}

#user_nav a {

}

#teacher_nav a {

}

#admin_nav a {

}

section {
    position: absolute;
    left:190px;
    font-size:110%;
    padding:1em;
}

footer {
    position: absolute;
    text-align: center;
    width: 100%;
    border-top: 2px solid #F3F3F3;
    padding: 1em 0;
    bottom: 0;
}

footer a {
    text-decoration: underline;
    color: #888888;
}
