.column_item {
	margin: 0.5em 0 0.2em 0;
	padding-bottom: 5px;
}

.column_item li {
	min-width: 5em;
	border: 3px solid #FFFFFF;
}

.column_item li a {
	display: block;
	padding: 5px;
	text-align: center;
}

.column_item li a:hover {
	text-shadow: 2px 2px #333333;
} 