.column_item {
	margin: 0.5em 0 0.2em 0;
	padding-bottom: 5px;
}

.column_item li {
	margin: 5px 0;
	min-width: 5em;
}

.column_item li a, .column_item .title {
	display: block;
	padding: 8px;
	color: #FFFFFF;
	text-align: center;
}

.column_item li a:hover {
	text-shadow: 2px 2px #333333;
} 