@import url(default.css);

.row_item_style_2 li {
	background-color: #008A00;
}

.row_item_style_2 li a:hover {
	background-color: #AA00FF;
}

.row_item_style_2 .row_item_selected a {
	background-color: #AA00FF;
	text-shadow: 2px 2px #333333;
}
