#course_time_selector {
	margin-top: 0;
}

#course_time_selector th#course_time_description {
	width: 4em;
	background-color: #F44A3F;
	text-align: center;
}

#course_time_selector td, #course_time_selector th {
	padding: 10px;
	color: #F3F3F3;
}

#day_row th {
	background-color: #4387FD;
}

.course_column {
	background-color: #4387FD;
	text-align: center;
}

#noon_break {
	padding: 5px 0 !important;
	background-color: #4387FD;
	text-align: center;
}

.course {
	border: 1px solid #4387FD;
}

.course[data-selected="0"] {
	padding: 10px !important;
	background-color: #FFFFFF;
}

.course[data-selected="1"] {
	padding: 0px !important;
	background-color: #FFD14D;
	text-align: center;
}

.course[data-selected="1"] img {
	width: 38px;
}
