@import "default.css";

.form_list li {
	display: inline-block;
}

.input_form {
	float: left;
}

#teacher_require {
	float: left;
	margin: 2em 0 0 1em;
}

#teacher_require strong {
	display: block;
	margin-bottom: 0.5em;
	font-weight: bold;
}