.dataList {
    margin: 0;
}

.dataList td, .dataList th {
    padding: 5px 4em 5px 5px;
}

.dataList .edit, .dataList .delete {
    padding: 5px;
}

.dataList th {
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #00ABA9;
}

.dataList td {
    border-bottom: 1px solid #FFFFFF;
    background-color: #E8EDFF;
}
